<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 编码 -->
    <add key="codeList" value="sz002044,sh600928,sh601318" />
    <add key="locationX" value="1362" />
    <add key="locationY" value="210" />
    <add key="opacity" value="100" />
    <add key="topMost" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>